.wrapper {
	display: grid;
	grid-template-columns: 3rem repeat(calc(var(--cols)), 1fr) 3rem;
	grid-template-rows: 3rem repeat(calc(var(--rows)), 1fr) 3rem;
	width: fit-content;
	margin: auto;
	width: 500px;
	height: auto;
	aspect-ratio: 1;
}

.canvas {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	object-fit: contain;
	width: 100%;
	height: 100%;
	display: block;
	grid-column: 2 / -2;
	grid-row: 2 / -2;
	background-image: linear-gradient(45deg, rgb(87, 87, 89) 25%, transparent 25%),
		linear-gradient(-45deg, rgb(87, 87, 89) 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, rgb(87, 87, 89) 75%),
		linear-gradient(-45deg, transparent 75%, rgb(87, 87, 89) 75%);
	background-size: 40px 40px;
	background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
			14 0,
		pointer;
}

.rowBtn {
	grid-column: 2 / -2;
	display: flex;
	justify-content: center;
	gap: 1rem;
}
.wrapper button {
	position: relative;
	width: 1.4rem;
	height: 1.4rem;
	border: 0;
	font-family: 'Press Start 2P', cursive;
	border-image-slice: 2;
	border-image-width: 2;
	border-image-repeat: stretch;
	border-width: 4px;
	border-image-outset: 2;
	border-style: solid;
	border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='5' height='5'%3E%3Cpath d='M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z' fill='rgb(150,150,150)'/%3E%3C/svg%3E");
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
			14 0,
		pointer;
	margin: 0.5rem;
	background-color: #d3d3d3;
}

.wrapper button::after {
	content: '';
	position: absolute;
	top: -4px;
	right: -4px;
	bottom: -4px;
	left: -4px;
	box-shadow: inset -4px -4px #adafbc;
}

.colBtn {
	grid-row: 2 / -2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}
